@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background: url('fancy.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  margin: auto;
  padding: 0;
}

.Calculator {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(15px);
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.Display {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  position: relative;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.Formula {
  width: 100%;
  font-size: 2rem;
  height: 80px;
  border: none;
  position: relative;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
}

button {
  height: 90px;
  width: 100%;
  border-radius: 0px;
  /* border: 1px solid #c4c4c4; */
  font-size: 2rem;
  color: #fff;
  user-select: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}

button:hover {
  transition: 0s;
  background: rgba(255, 255, 255, 0.4);
}
button:focus {
  outline: none;
}

.operator {
  color: #fff;
}

.all-clear {
  color: #fff;
}

.equal-sign {
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.Keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: -1px;
  padding: 0px;
}
